<h1 class="page-header">{{title}}</h1>
<h2 ng-if="message">{{message}}</h2>
<div class="list-group">
	<a ng-repeat="item in subjects" href="#/detail/{{item.id}}" class="list-group-item">
		<span class="badge">豆瓣评分：{{item.rating.average}}</span>
		<div class="media">
			<div class="media-left">
				<img class="media-object" ng-src="{{item.images.small}}" alt="item.title">
			</div>
			<div class="media-body">
				<h3 class="media-heading">{{item.title}}</h3>
				<p>导演：<span ng-repeat="d in item.directors">{{d.name + ($last?'':'、')}}
					<!--解决最后名字分隔号显示-->
					<!--<span ng-if="!$last">、</span>-->
					</span>
				</p>
				<p>
					主演：<span ng-repeat="c in item.casts">{{c.name + ($last?'':'、')}}</span>
				</p>
				<p>类型：<strong>{{item.genres.join('、')}}</strong>&nbsp;&nbsp;&nbsp;&nbsp;上映年份：<span>{{item.year}}</span></p>
			</div>
		</div>
	</a>
</div>

<div class="mask" ng-show="loading">
	<div class="spinner">
		<div class="dot1"></div>
		<div class="dot2"></div>
	</div>
</div>

<div ng-show="!loading">
	<p>总共：{{totalCount}}条记录，{{currentPage}}/{{totalPage}}页</p>
	<nav>
		<ul class="pager">
			<li ng-class="{disabled:currentPage<= 1}"><a ng-click="go(currentPage - 1)"><<上一页</a></li>
			<li ng-class="{disabled:currentPage>=totalPages}"><a ng-click="go(currentPage + 1)">下一页>></a></li>
		</ul>
	</nav>
</div>
